.auth-container{
    max-height: 2000px;
    margin-top: 5rem;
   .box{
       width: 33%;
       margin:auto;
       background-color: #F8F9FA;
       border-radius: 10px;  
       box-shadow: -9px 3px 6px rgb(0 0 0 / 30%);
   }
}