.call-center-table {
    .header {
        .cards-content {
            border-top: 4px solid #01579b;
            transition: all 600ms ease;
            max-width: 1100px;
            display: flex;
            position: relative;
            overflow: hidden;
            margin: 30px 0;
            background-color: #cacaff;
            border-radius: 4px;
            .card-body {
                color: #01579b;
                display: flex;
                .card-img {
                    transition: all 600ms ease;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 150px;
                    justify-content: space-around;
                    ngx-skeleton-loader {
                        position: absolute;
                    }
                    img {
                        transition: all 600ms ease;
                        width: 150px;
                        height: 150px;
                        border-radius: 100%;
                        box-shadow: 0 1px 1rem rgb(10 10 25 / 50%);
                        position: relative;
                        z-index: 1;
                    }
                }
                .enterprise-data {
                    width: 100%;
                    padding: 26px 0 0 26px;
                    .options {
                        text-align: end;
                    }
                }
            }
        }
    }
}