.call-center-information {
    padding: 1rem;
    .tittle {
        h2 {
            display: inline-block;
            background-color: #cacaff;
            color: #01579b;
            margin: 0;
            width: 100%;
            font-size: 1.4rem;
            padding: 13px 136px 18px 27px;
        }
    }
    .separator {
        margin-top: 3rem;
    }
    .content-reports {
        display: flex;
        justify-content: space-between;
        .filter {
            border: 1px solid blue;
        }
        .center {
            width: 100%;
        }
        .details {
            border: 1px solid yellow;
        }
    }
}

.reports-filter {
    padding: 1rem;
}