.main {
    padding: 1rem;
}

.carousel {
    width: 100%;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

h1,
h2,
h3 {
    color: #333;
    font-weight: 400;
}

p {
    color: #666;
    line-height: 1.9;
}

.tm-section-header {
    display: inline-block;
    background-color: #cacaff;
    color: #01579b;
    padding: 30px 90px 30px 30px;
    margin: 0;
}

@media (max-width: 500px) {
    .tm-section-header {
        padding: 20px;
    }
}

.tm-section-header-small {
    font-size: 1.4rem;
    padding: 25px 150px 25px 30px;
}

.tm-header-floating {
    position: absolute;
    z-index: 100;
    top: -30px;
}

.tm-welcome-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.tm-welcome-row-2 {
    margin-bottom: 45px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 532px) {
        justify-content: space-around
    }
    .service-card {
        margin: 0 0 11px 12px;
        padding: 0;
        width: 250px;
        border: 1px solid #01579b;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .header {
            color: #01579b;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            border-bottom: 1px solid #cacaff;
            background-color: #cacaff;
            padding: 5px 10px;
        }
        .service-icon {
            padding: 15px 0;
            text-align: center;
            i {
                font-size: 36px;
                color: #01579b;
                margin-bottom: 5px;
                cursor: pointer;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            p {
                color: #01579b;
                font-size: 12px;
                text-align: center;
            }
        }
        .service-icon:hover {
            i {
                opacity: .5;
            }
        }
    }
}

.tm-welcome {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        justify-content: space-between;
        img {
            width: 120px;
            padding: 10px;
            border: 1px solid #01579b;
            border-radius: 50%;
            margin-top: -25px;
            margin-bottom: 2rem;
            background-color: #fff;
            transition: ease-out 0.3s;
        }
        img:hover {
            width: 150px;
        }
    }
}

// .tm-welcome {
//     .card-container {
//         display: flex;
//         align-content: flex-start;
//         align-items: baseline;
//         flex-wrap: wrap;
//         width: 100%;
//         margin: 0 auto;
//         text-align: center;
//         margin: 0;
//         .cpanel {
//             width: 32%;
//             margin: 0 13px 0 0;
//             border: 1px solid #01579b;
//             border-radius: 4px;
//             background-color: white;
//             color: #fff;
//             margin-top: 50px;
//             .icon-part {
//                 img {
//                     width: 120px;
//                     padding: 10px;
//                     border: 1px solid #01579b;
//                     border-radius: 50%;
//                     margin-top: -25px;
//                     margin-bottom: 10px;
//                     background-color: #fff;
//                     transition: ease-out 0.3s;
//                 }
//                 img:hover {
//                     width: 150px;
//                 }
//             }
//             .card-content-part {
//                 background-color: #cacaff;
//                 padding: 5px 0px;
//                 p {
//                     color: #01579b;
//                     font-weight: bold;
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }
@media (max-width:1070px) {
    .tm-welcome {
        .card-container {
            flex-direction: column;
            width: 100%;
            .cpanel {
                width: 100%;
            }
        }
    }
}

.tm-article-link:hover .tm-article-title {
    color: #09F;
}

.tm-hover-color {
    color: #09F;
}

.tm-article-title {
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.tm-media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    padding: 30px 0 0 13px;
}

.tm-media-v-center {
    align-items: center;
}

.tm-media-img {
    margin-right: 20px;
    width: 55%;
    max-width: 300px;
}

.tm-media-body {
    margin-right: 10px;
    width: 45%;
}

@media (max-width: 992px) {
    .tm-media-body {
        width: auto;
    }
}

@media (max-width: 480px) {
    .tm-media {
        flex-direction: column;
    }
    .tm-media-img {
        width: auto;
    }
    .tm-media-body {
        max-width: 300px;
        margin-right: 0;
        margin-top: 20px;
    }
}

.tm-dotted-box-container {
    margin-bottom: 35px;
}

.tm-dotted-box {
    display: flex;
    flex-direction: column;
    border: 1px dotted #ccc;
    padding: 24px;
    height: 100%;
}

.tm-article-icon {
    color: #C99;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tm-article-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.5;
}

.tm-article-title,
.tm-article-text {
    margin-bottom: 30px;
}

.tm-article-link {
    align-self: flex-end;
}

.tm-btn {
    background-color: #C99;
    color: white;
    padding: 10px 25px;
}

.tm-btn:hover,
.tm-btn:focus {
    background-color: #924141;
    text-decoration: none;
    color: white;
}

.tm-btn-rounded {
    border-radius: 3px;
}